.categories {
  h2 {
    font-size: 8rem;
    text-align: center;
    @media screen and (max-width: 991px) {
      font-size: 4rem;
    }
  }
  h3 {
    font-size: 5rem;
    @media screen and (max-width: 991px) {
      font-size: 2rem;
    }
  }
}
