.features {
  background-image: url("../public/assets/crash2.webp"),
    url("../public/assets/crash.webp");
  background-size: contain, contain;
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
}
